.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background: linear-gradient(180deg, #004257 0%, #006994 100%);*/
  background-image: url('../assets/mha-health-networking.jpg');
  background-size: cover;
  background-position: center;
}

.arrowLeft {
  font-size: 2em;
  color: steelblue; 
  position: absolute;
  top: 10px;
  left: 20px;
}

.imageContainer {
  margin-top: 2.5rem;
  justify-self: anchor-center;
  margin-bottom: 1.5rem;
  pointer-events: none;
  user-select: none;
}

.roundedImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
  color: steelblue;
  margin-top: 1.5rem;
}

.cardContainer {
  max-width: 600px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #0000000d;
}

.cardBody { 
  padding-bottom: 1.5rem;
}

.inputGroup {
  margin-top: 1.5rem;
  margin-bottom: 2rem; 
}

.inputField {
  width: 400px;
  margin: 0 auto;
  background-color: #f8f9fa; 
  margin-bottom: 0.5rem;
  user-select: none;
}

.passwordInput {
  width: 400px;
  margin: 0 auto;
  background-color: #f8f9fa;
  user-select: none;
}

.buttonGroup {
  display: grid;
  gap: 1rem; 
  grid-template-columns: auto auto; 
  justify-content: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .buttonGroup {
    grid-template-columns: 1fr;
  }
}

.submitButton {
  padding: 10px 20px;
  background-color: #0c82a7;
  border: 2px solid #11627e;
  color: white;
  transition: background-color 0.5s;
  border-radius: 100px;
  user-select: none;
}

.submitButton:hover {
  background-color: #075269;
  border: 2px solid #0d4b5f;
}

.errorMessage {
  color: red;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}