.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../assets/mha-health-networking.jpg');
  background-size: cover;
  background-position: center;
}

.content {
  flex: 1;
  display: row;
  justify-content: center;
  align-items: center;
}