.title {
  text-align: center;
  color: black;
  margin-top: 40px;
}

.container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}


